.admin {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.side-bar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-product {
    width: 100%;
    padding: 60px 20px 20px 200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* @media (max-width:400px) {
    .admin {
        flex-direction: column;
    }
} */